<aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
    <nav class="space-y-1">

        <a href="{{ path('admin.index') }}" class="text-gray-200 hover:text-gray-300 hover:bg-indigo-600 group rounded-md px-3 py-2 flex items-center text-sm font-medium" x-state:on="Current" x-state:off="Default" x-state-description="Current: &quot;bg-gray-50 text-orange-600 hover:bg-white&quot;, Default: &quot;text-gray-900 hover:text-gray-900 hover:bg-gray-50&quot;">
            <svg class="text-gray-200 group-hover:text-gray-300 flex-shrink-0 -ml-1 mr-3 h-6 w-6" x-state:on="Current" x-state:off="Default" x-state-description="Current: &quot;text-orange-500&quot;, Default: &quot;text-gray-400 group-hover:text-gray-500&quot;" x-description="Heroicon name: outline/user-circle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="truncate">
               Users
            </span>
        </a>

        <a href="{{ path('admin.categorie') }}" class="text-gray-200 hover:text-gray-300 hover:bg-indigo-600 group rounded-md px-3 py-2 flex items-center text-sm font-medium" x-state:on="Current" x-state:off="Default" x-state-description="Current: &quot;bg-gray-50 text-orange-600 hover:bg-white&quot;, Default: &quot;text-gray-900 hover:text-gray-900 hover:bg-gray-50&quot;">
            <svg class="text-gray-200 group-hover:text-gray-300 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"></path></svg>
            <span class="truncate">
               Quiz
            </span>
        </a>

        <a href="{{ path('admin.scores') }}" class="text-gray-200 hover:text-gray-300 hover:bg-indigo-600 group rounded-md px-3 py-2 flex items-center text-sm font-medium" x-state:on="Current" x-state:off="Default" x-state-description="Current: &quot;bg-gray-50 text-orange-600 hover:bg-white&quot;, Default: &quot;text-gray-900 hover:text-gray-900 hover:bg-gray-50&quot;">
            <svg class="text-gray-200 group-hover:text-gray-300 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
            <span class="truncate">
               Scores
            </span>
        </a>

    </nav>
</aside>