<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Quiz{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
{#        <link rel="stylesheet" href="{{ asset('css/style.css')}}">#}
    {% endblock %}
</head>
<body class="bg-indigo-800">

{% include 'partials/banner.html.twig' %}

<div class="bg-gradient-to-b from-indigo-800 to-gray-900 min-h-screen">
    <div class="flex flex-col justify-between min-h-screen">
        <div>

            {% include 'partials/navbar.html.twig' %}

            <div class="container w-full p-6 m-4 mx-auto my-8">
                <p class="italic tracking-tighter text-gray-500 text-md title-font">

                    {% block body %}{% endblock %}

                </p>
            </div>
        </div>

        {% include 'partials/footer.html.twig' %}

    </div>
</div>


{% block javascripts %}{% endblock %}
</body>
</html>